numpy
pandas
plotly
scikit-learn
torch 
tqdm
transformer-lens
transformers 
umap-learn
accelerate
bitsandbytes
sentencepiece 
einops 
faiss-cpu
sentence-transformers 
datasets 
trl 
peft 
accelerate 
bitsandbytes




